* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

:root {
    --padding: 0 5vw
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(100px, 1.2fr) 5fr;
    grid-template-rows: 1.5fr 2.7fr 14fr;
}

.sidebar {
    background-color: rgb(255, 255, 255);
    grid-area: 1 / 1 / -1 / 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 5vh 15px;
    gap: 10vh;
}
.sidebar .links, .sidebar .addetional-links {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    font-size: 1.2em;
    gap: 2vh;
}
.sidebar a {
    color: black;
    width: fit-content;
    text-decoration: none;
    font-style: italic;
}
.sidebar a:hover {
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.521);
    padding: 0 50px;
    box-shadow: 10px 10px black;
    border: 1px solid black;
}
.dashboard-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-title img {
    mix-blend-mode: multiply;
    width: 2em;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding);
    gap: 25px;
}
header img {
    width: 20px;
}
header .search + div > img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
header > div {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
header input {
    width: 40vw;
    height: 2em;
    border-radius: 5px;
    border: 3px solid black;
    color: white;
    background-color: rgb(114, 88, 88);
    font-weight: bolder;    padding: 5px;
}
article {
    grid-area: 3 / 2 / 3 / 3;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    gap: 20px;
    background-color: antiquewhite;

}
article .left-side {
    flex: 1;
    display: grid;
    grid-template: 50px repeat(2, 20vh) / repeat(2, minmax(100px, 1fr));
    gap: 1em
}
.left-side img {
    width: 100%;
    height: 100%;
    mix-blend-mode:multiply;
    opacity: 0.8;
}
.left-side h3 {
    grid-area: 1 / 1 / 1 / 3;
    color: black;
    justify-self: baseline;
    align-self: flex-end;
}
article a{
    height: 100%;
    border-radius: 5px;
    box-shadow: 5px 10px black;
    border: 2px solid black;
    position: relative;
}
article a div {
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: rgba(63, 2, 55, 0.158);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: end;
}
article a div:hover {
    background-color: rgba(255, 0, 0, 0.555);
}
article a div p {
    color: rgb(255, 255, 255);
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.61);
    padding: 0 50px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 5px 5px black;
}
article a:hover {
    height: 95%;
    border: 5px solid black;
}
article .right-side {
    padding-top: 4vh;
    flex: 0.4;
    display: grid;
    grid-template-rows: 2fr 3fr;
    grid-template-areas: "announcements" "trending";
    gap: 2vh;
}
.announcements {
    grid-row: announcements;
}
.right-side .acontent {
    height: 90%;
}
.right-side h3 {
    margin-bottom: 1vh;
    color: black;
}
.bcontent {
    height: 90%;
}
.acontent, .bcontent {
    border: 3px solid black;
    box-shadow: 5px 5px black;
    display: flex;
    flex-direction: column;
    color: black;
    gap: 20px;
    padding: 20px;
}
.acontent div, .bcontent div {
    border-bottom: 1px solid black;
}
.user-info {
    grid-area: 2 / 2 / 2 / 3;
    display: flex;
    padding: var(--padding);
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid black;
}
.info {
    display: flex;
    align-items: center;
    font-size: small;
    gap: 15px;
}
.info img {
    height: 5em;
    width: 5em;
    border-radius: 50px;
    background-size: cover;
}
.info h2 {
    display: inline;
    font-size: 2em;
}
.user-info .buttons {
    display: flex;
    justify-content: space-between;
    gap: 2vw
}
.user-info button {
    padding: 5px 15px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 5px 5px black;
}
.user-info button:hover {
    box-shadow: 5px 5px rgb(255, 0, 0);
    font-size: larger;
    color: red;
}
.info a {
    font-size: 1.5em;
    text-decoration: none;

}
